Import pakietu pandas, pozwalającego na łatwe wczytywanie i zarządzanie danymi z pliku CSV.

In [31]:
import pandas as pd

Pobranie zbioru danych z pliku CSV:

In [32]:
dataset = pd.read_csv('Salary_Dataset.csv')

Całość DataFrame można wyświetlić na ekran przy użyciu komendy display. Komenda head pozwala za na wyświetlenie pierwszych n wierszy DataFrame.

In [33]:
# display(dataset)
dataset.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

Aby móc wygornie operowac danymi podczas tworzenai wykresu, interesujace nas kolumny zapisujemy w postaci list.

In [34]:
X = dataset['YearsExperience'].tolist()
Y = dataset['Salary'].tolist()

Wizualizacja danych przy użyciu biblioteki plotly:

In [36]:
import plotly.plotly as py
import plotly.graph_objs as go

from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

In [37]:
trace = go.Scatter(x = X, y = Y, mode = 'markers')

In [38]:
data = [trace]

In [40]:
iplot(data, filename='basic-scatter')