# Decision Trees Classification

The representation of the CART model is a binary tree. A node represents a single input variable (X) and a split point on that variable, assuming the variable is numeric. The leaf nodes (also called terminal nodes) of the tree contain an output variable (y) which is used to make a prediction.

Once created, a tree can be navigated with a new row of data following each branch with the splits until a final prediction is made.

Creating a binary decision tree is actually a process of dividing up the input space. A greedy approach is used to divide the space called recursive binary splitting. This is a numerical procedure where all the values are lined up and different split points are tried and tested using a cost function.

The split with the best cost (lowest cost because we minimize cost) is selected. All input variables and all possible split points are evaluated and chosen in a greedy manner based on the cost function.

## 1. Theory on CART - Classification And Regression Trees

### 1.1 Gini Index

Gini index is measure of impurity. It is used as cost function in <b>CART</b> (Classification And Regression Trees) to evaluate splits in dataets. Gini index gives an idea of how good a split is by measuring how mixed the classes are in the two groups created by the split. For example for a two class problem, a perfect separation results in a Gini score of 0, whereas the worst case split that results in 50/50 classes in each group result in a Gini score of 0.5. If a dataset $T$ contains examples from $n$ classes, Gini Index $Gini(T)$ is defined as:

$$Gini(T) = 1 - \sum_{j=1}^{n}p_{j}^{2}$$

If a dataset $T$ is split into two subsets $T_{1}$ and $T_{2}$ with sizes $N_{1}$ and $N_{2}$ respectively, the Gini index of split data contains examples from $n$ classes, te Gini indix $(T)$ is defined as:

$$Gini_{split}(T) = \frac{N_{1}}{N}gini(T_{1}) + \frac{N_{2}}{N}gini(T_{2})$$

### 1.2 Information Gain

Homogeneity of sample can be also calculated using entrophy. If the sample is completely homogeneous the entropy is zero and if the sample is an equally divided it has entropy of one. Entropy $E(T)$ is defined as:

$$E(T) = \sum_{j=1}^{n}-p_{j}log_{2}p_{j}$$

If a dataset $T$ is split into two subsets $T_{1}$ and $T_{2}$ with sizes $N_{1}$ and $N_{2}$ respectively, the Gini index of split data contains examples from $n$ classes, te Gini indix $(T)$ is defined as:

$$E(T, X) = \frac{N_{1}}{N}E(T_{1}) + \frac{N_{2}}{N}E(T_{2})$$

### 1.3 Avoiding over-fitting in decision trees

Overfitting refers to a model that models the training data too well. In overfitting, a statistical model describes random error or noise instead of the underlying relationship. A model that has been overfitted has poor predictive performance, as it overreacts to minor fluctuations in the training data.

Overfitting is more likely with nonparametric and nonlinear models that have more flexibility when learning a target function. Decision trees are a nonparametric machine learning algorithm that is very flexible and is subject to overfitting training data. Preventing overfitting is pivotal while modeling a decision tree and it can be done in 2 ways:

* <b>Tree pruning</b>
* <b>Setting constraints on tree size</b>

   * Minimum samples for a node split
   * Minimum samples for a terminal node
   * Maximum depth of tree

## 2. Importing and preperation of data

### 2.1 Import libraries

In [2]:
import numpy as np
import pandas as pd

### 2.2 Load dataset

<b>NOTE:</b> The Titanic data set contains information on the passengers of the famous ship that sank on April 15, 1912. Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. The dataset includes among others information on gender, age, cabin of passenger and label informing if the passenger drowned.

In [19]:
# Importing the dataset
dataset_test = pd.read_csv('../../00_Datasets/Titanic_test.csv', header = 0, dtype={'Age': np.float64})
dataset_train = pd.read_csv('../../00_Datasets/Titanic_train.csv', header = 0, dtype={'Age': np.float64})
dataset = [dataset_test, dataset_train]

### 2.3 Summarize the Dataset

In [20]:
dataset_train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
dataset_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

Right away we see that data set contains columns with categorical data along with informations that aren't really useful in current form like number of cabin. Our job is to preprocess data and extract from those columns essential informations. This part of notebook is based on work of Sina [5].

In [ ]:
### 2.4 Data preproce

## 5. Bibliography

1. https://machinelearningmastery.com/implement-decision-tree-algorithm-scratch-python/
2. https://www.analyticsvidhya.com/blog/2016/04/complete-tutorial-tree-based-modeling-scratch-in-python/
3. https://en.wikipedia.org/wiki/Overfitting
4. https://www.kaggle.com/arthurtok/introduction-to-ensembling-stacking-in-python/notebook
5. https://www.kaggle.com/sinakhorami/titanic-best-working-classifier